/* Color Palette
    Light Blue: #9dd9f8
    Brown: #633313
    Peach: #fafaf7
    Dark Peach: #efe7d6
*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

/* BASE STYLE */

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --base: #fafaf7;
    --cover: #9dd9f8;
    --var1: #633313;
    --standard: #633313;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--base);
    height: 100%;
    width: 100%;
    font-family: "Nanum Myeongjo", serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

#desktop-nav {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #efe7d6; 
    color: #633313; 
    padding: 15px 0px;
    border-bottom: 1px solid #633313;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2600px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-family: 'Arial';
}

.nav-links li {
    margin: 0 15px; /* Adjusts spacing between nav items */
}

.nav-links a {
    text-decoration: none;
    color: inherit;
    padding: 10px 15px; /* Adds padding around links */
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #adadad;
}

.logo {
    font-size: 1.5rem;
    font-family: 'Segoe UI', 'Verdana', sans-serif;
    color: #633313;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    margin-left: 10px; /* Ensure margin-left is 0 */
    text-decoration: none;
    flex-shrink: 0; /* Prevents the logo from shrinking */

}

/* SEARCH CONTAINER */

.search-container {
    margin-top: 40px; 
    text-align: center; 
}

.search-container input[type="text"] {
    font-family: "Nanum Myeongjo", serif;
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    margin-right: 5px; 
    width: 200px; 
}

.search-container button {
    font-family: "Nanum Myeongjo", serif;
    padding: 10px 20px; 
    font-size: 16px;
    background-color: #9dd9f8; 
    color: #633313; 
    border: 1px solid #633313; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

.search-container button:hover {
    background-color: #7fc0e5; 
    color: #ffffff; 
}


.screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px; 
    padding: 20px;
    min-height: calc(100vh - 130px); 
    margin-top: 25px; 
    align-items: flex-start; 
    position: relative; 
}

.card {
    display: flex;
    flex-direction: column;
    height: 545px;
    width: 300px;
    padding: 20px;
    gap: 15px;
    background-color: white;
    border: 1px var(--standard) solid;
    border-radius: 20px;
    align-items: center;
    box-shadow: 10px 10px var(--standard);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card h2 {
    color: #633313;
    font-size: 22px;
}

.preview_pic {
    width: 225px;
    height: 325px;
    border-radius: 10px;
}

.main {
    gap: 12px;
}

.tag {
    margin: 0;
    display: inline-block;
    background-color: var(--cover);
    padding: 6px 15px;
    border-radius: 5px;
    color: #633313;
}

.date {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 15px;
}

.stars {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #633313;
}

.end-button-container {
    bottom: 20px;
    left: 50%;
    z-index: 1000; 
    width: 100%; 
    text-align: center; 
    margin-top: 40px;
    margin-bottom: 40px;
}

.end-button {
    font-size: 20px;
    text-decoration: none;
    color: #633313;
    background-color: #9dd9f8;
    padding: 10px 20px;
    border: 1px solid #633313;
    border-radius: 5px;
    display: inline-block;
    transition: all 300ms ease;
}

.end-button:hover {
    background-color: #7fc0e5;
    color: #ffffff;
}

#content {
    display: flex;
    align-items: flex-start; 
    max-width: 1900px;
    margin: 40px auto; 
    padding: 20px;
}

.text-section {
    flex: 1; 
    padding-right: 40px; 
    font-size: 24px; 
    margin-right: 40px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.image-section {
    flex: 2; 
    text-align: right;
}

.image-section img {
    width: 65%; 
    height: auto; 
    margin-top: -40px;
}

.vertical-border {
    top: calc(100% + 20px); 
    bottom: 0;
    right: 50%; 
    width: 1px;
    background-color: #633313; 
}

/* FOOTER */

footer {
    background-color: #9dd9f8;
    color: #00275b;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #633313;

}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
}

.footer-container p {
    margin: 0;
}


/* Media Queries for tablets and smaller screens */
@media only screen and (max-width: 1080px) {
    body {
        font-size: 16px; 
    }

    .container {
        flex-direction: column; 
        align-items: center;
        padding: 0 10px; 
    }

    .logo {
        font-size: 1.8rem; 
        margin: 10px 0; 
        text-align: center;
    }

    .nav-links {
        margin-top: 10px; 
        order: 2;
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .nav-links li {
        margin: 0 5px; 
    }

    .nav-links a {
        padding: 8px 12px; 
    }

    #content {
        flex-direction: column; 
        padding: 20px; 
        margin-left: 0;
    }

    .end-button-container {
        bottom: 20px;
        margin-bottom: 40px;
    }

    footer {
        text-align: center;

    }
}

/* Media Queries for phones */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px; 
    }

    header {
        padding: 8px 0; 
    }

    .container {
        flex-direction: column; 
        align-items: center;
        padding: 0 10px; 
    }

    .logo {
        font-size: 1.9rem;
        margin: 5px 0; 
        text-align: center;
    }

    .nav-links {
        font-size: 0.75rem;
        text-align: center;
        margin-top: 5px; 
        order: 2; 
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .nav-links li {
        margin: 0 5px; 
    }

    .nav-links a {
        padding: 8px 12px; 
    }

    #content {
        flex-direction: column; 
        padding: 20px; 
        margin-left: 0; 
    }

    .card {
        height: 560px;
        width: 300px;
    }

    .text-section {
        font-size: 24px; 
        margin-top: -30px; 
    }

    form {
        max-width: 100%; 
    }

    footer {
        text-align: center;
    }
}
