/* Color Palette */
/* Light Blue: #9dd9f8
   Brown: #633313
   Peach: #fafaf7
   Dark Peach: #efe7d6
*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

/* Base styles */

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --base: #fafaf7;
    --cover: #9dd9f8;
    --var1: #633313;
    --standard: #633313;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--base);
    height: 100%;
    width: 100%;
    font-family: "Nanum Myeongjo", serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit; /* Ensures links inherit text color */
}

#desktop-nav {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #efe7d6; /* Ensure navigation bar has same background */
    color: #633313; /* Text color for navigation links */
    padding: 15px 0px;
    border-bottom: 1px solid #633313; /* Border under navigation */
}

.container {
    display: flex;
    justify-content: space-between; /* Spacing between sections */
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

.nav-links li {
    margin: 0 15px; /* Adjust spacing between nav items */
}

.nav-links a {
    text-decoration: none;
    color: inherit;
    padding: 10px 15px; /* Add padding around links */
    transition: color 0.3s ease; /* Smooth transition for link color */
}

.nav-links a:hover {
    color: #adadad; /* Change text color on hover */
}

.logo {
    font-size: 1.5rem;
    font-family: 'Segoe UI', 'Verdana', sans-serif; /* Example: changing to Arial */
    color: #633313;
    font-weight: bold;
    text-align: left;
    margin-left: -20px;
}

/* Search Container */
.search-container {
    margin-top: 40px; /* Adjust margin as needed */
    text-align: center; /* Center align contents */
}

.search-container input[type="text"] {
    font-family: "Nanum Myeongjo", serif;
    padding: 10px; /* Padding around text input */
    font-size: 16px; /* Font size for input text */
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Rounded corners */
    margin-right: 5px; /* Margin between input and button */
    width: 250px; /* Fixed width or adjust as needed */
}

.search-container button {
    font-family: "Nanum Myeongjo", serif;
    padding: 10px 20px; /* Padding for button */
    font-size: 16px; /* Font size for button text */
    background-color: #9dd9f8; /* Button background color */
    color: #633313; /* Button text color */
    border: 1px solid #633313; /* Border color */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

.search-container button:hover {
    background-color: #7fc0e5; /* Darker background color on hover */
    color: #ffffff; /* Text color on hover */
}

.screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px; /* Adjusted gap for more space between cards */
    padding: 20px;
    min-height: calc(100vh - 130px); /* Ensure .screen takes up remaining height, subtracting header and nav height */
    margin-top: 25px; /* Ensure space below fixed nav */
    align-items: flex-start; /* Align items at the top */
    position: relative; /* Relative positioning for absolute positioning of .end-button-container */
}

.card {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    padding: 20px;
    gap: 15px;
    background-color: white;
    border: 1px var(--standard) solid;
    border-radius: 20px;
    align-items: center;
    box-shadow: 10px 10px var(--standard);
}

.card h2 {
    color: #633313;
    font-size: 22px;
}

.preview_pic {
    width: 225px;
    height: 325px;
    border-radius: 10px;
}

.main {
    gap: 12px;
}

.tag {
    display: inline-block;
    background-color: var(--cover);
    padding: 6px 15px;
    border-radius: 4px;
    margin: 0;
    color: #633313;
}

.date {
    margin-top: 10px;
    margin-bottom: 7px;
    font-size: 13px;
}

.end-button-container {
    bottom: 20px;
    left: 50%;
    z-index: 1000; /* Ensure it's above other content */
    width: 100%; /* Full width */
    text-align: center; /* Center align the button */
    margin-top: 5%;
    margin-bottom: 5%;
}

.end-button {
    font-size: 20px;
    text-decoration: none;
    color: #633313;
    background-color: #9dd9f8;
    padding: 10px 20px;
    border: 1px solid #633313;
    border-radius: 5px;
    display: inline-block;
    transition: all 300ms ease;
}

.end-button:hover {
    background-color: #7fc0e5;
    color: #ffffff;
}

.explore-button-container {
    bottom: 20px;
    left: 40px;
}

.explore-button {
    font-style: italic;
    font-size: 1.25rem;
    text-decoration: none;
    color: #633313;
    background-color: #9dd9f8;
    padding: 10px 20px;
    border: 1px solid #633313;
    border-radius: 5px;
}

.explore-button:hover {
    background-color: #7fc0e5;
    color: #ffffff;
}

#content {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    max-width: 1900px;
    margin: 40px auto; /* Adjust margin as needed */
    padding: 20px;
}

.text-section {
    flex: 1; /* Take remaining space */
    padding-right: 40px; /* Increase spacing between text and image */
    font-size: 24px; /* Adjusted font size */
    margin-right: 40px; /* Extend margin on the right */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align items at the top and bottom */
}

.image-section {
    flex: 2; /* Take remaining space */
    text-align: right;
}

.image-section img {
    width: 65%; /* Cover the entire width of its container */
    height: auto; /* Maintain aspect ratio */
    margin-top: -40px;
}

.vertical-border {
    top: calc(100% + 20px); /* Start below nav links */
    bottom: 0;
    right: 50%; /* Place the border in the center */
    width: 1px;
    background-color: #633313; /* Adjust color as needed */
}

/* FOOTER */

footer {
    background-color: #9dd9f8;
    color: #00275b;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #633313;

}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
}

.footer-container p {
    margin: 0;
}


/* Media Queries for tablets and smaller screens */
@media only screen and (max-width: 1024px) {
    /* General styles */
    body {
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    /* Header */
    header {
        padding: 8px 0; /* Adjust padding for header */
    }

    .published-info {
        padding: 3px 8px; /* Adjust padding for published info */
    }

    /* Navigation */
    .container {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
        padding: 0 10px; /* Adjust padding for container */
    }

    .logo {
        font-size: 1.8rem; /* Adjust logo font size */
        margin: 10px 0; /* Adjust margin */
        text-align: center;
    }

    .nav-links {
        margin-top: 10px; /* Adjust margin for nav links */
        order: 2; /* Display nav links second */
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .nav-links li {
        margin: 0 5px; /* Adjust margin for nav items */
    }

    .nav-links a {
        padding: 8px 12px; /* Adjust padding around links */
    }

    /* Content Sections */
    #content {
        flex-direction: column; /* Stack content vertically */
        padding: 20px; /* Adjust padding */
        margin-left: 0; /* Reset left margin */
    }

    .text-section {
        font-size: 30px; /* Adjust font size for text sections */
        margin-top: -20px; /* Adjust top margin */
    }

    .image-section img {
        width: 100%; /* Adjust image width for smaller screens */
        margin-top: 0; /* Adjust margin as needed */
    }

    .explore-button-container {
        text-align: center; /* Center align explore button */
        margin: 20px 0; /* Adjust margin */
        margin-top: 50px;;
    }

    .explore-button {
        font-size: 1rem; /* Adjust button font size */
        padding: 8px 16px; /* Adjust button padding */
    }

    /* Beyond Section */
    .beyond-container {
        flex-direction: column; /* Stack beyond elements vertically */
        align-items: center; /* Center align elements */
    }

    .beyond-text {
        font-size: 24px; /* Adjust font size */
        margin-right: 0; /* Reset margin */
        text-align: justify;
    }

    .beyond-image img {
        width: 100%; /* Adjust image width */
        margin-left: 0; /* Reset margin */
    }

    /* Contact Form */
    .contact-container {
        max-width: 100%; /* Full width for contact container */
    }

    form {
        max-width: 100%; /* Full width for form */
    }

    /* Footer */
    footer {
        text-align: center;
    }
}

/* Media Queries for phones */
@media only screen and (max-width: 600px) {
    /* General styles */
    body {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    /* Header */
    header {
        padding: 8px 0; /* Adjust padding for header */
    }


    /* Navigation */
    .container {
        flex-direction: column; /* Stack items vertically */
        align-items: center;
        padding: 0 10px; /* Adjust padding for container */
    }

    .logo {
        font-size: 1.8rem; /* Adjust logo font size */
        margin: 5px 0; /* Adjust margin */
        text-align: center;
    }

    .nav-links {
        font-size: 0.7rem;
        text-align: center;
        margin-top: 5px; /* Adjust margin for nav links */
        order: 2; /* Display nav links second */
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .nav-links li {
        margin: 0 5px; /* Adjust spacing between nav items */
    }

    .nav-links a {
        padding: 8px 12px; /* Adjust padding around links */
    }

    /* Content Sections */
    #content {
        flex-direction: column; /* Stack content vertically */
        padding: 20px; /* Adjust padding */
        margin-left: 0; /* Reset left margin */
    }

    .text-section {
        font-size: 24px; /* Adjust font size for text sections */
        margin-top: -30px; /* Adjust top margin */
    }

    .image-section img {
        width: 100%; /* Adjust image width for smaller screens */
        margin-top: 5px; /* Adjust margin as needed */
    }

    .explore-button-container {
        text-align: center; /* Center align explore button */
        margin: 20px 0; /* Adjust margin */
        margin-top: 20%;
        margin-bottom: 15%;
    }

    .explore-button {
        font-size: 16px; /* Adjust button font size */
        padding: 8px 12px; /* Adjust button padding */
        margin-top: 20%;
    }

    /* Beyond Section */
    .beyond-container {
        flex-direction: column; /* Stack beyond elements vertically */
        align-items: center; /* Center align elements */
    }

    .beyond-text {
        margin-top: -10px;
        font-size: 20px; /* Adjust font size */
        margin-right: 0; /* Reset margin */
        text-align: justify;
    }

    .beyond-image img {
        width: 100%; /* Adjust image width */
        margin-left: 0; /* Reset margin */
        margin-top: -20px;
    }

    /* Contact Form */
    .contact-container {
        max-width: 100%; /* Full width for contact container */
    }

    form {
        max-width: 100%; /* Full width for form */
    }

    /* Footer */
    footer {
        text-align: center;
    }
}
