/* Color Palette */
/* Light Blue: #9dd9f8
   Brown: #633313
   Peach: #fafaf7
*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nanum Myeongjo", serif;
    background-color: #fafaf7;
    position: relative;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #9dd9f8;
    color: #fafaf7;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #633313;
}

.published-info {
    display: inline-block;
    color: #00275b;
    padding: 5px 10px;
}

a,
.btn {
    transition: all 300ms ease;
    text-decoration: none;
}

#desktop-nav {
    background-color: #fafaf7; /* Background color for navigation */
    color: #633313; /* Text color for navigation links */
    padding: 10px 0;
    border-bottom: 1px solid #633313; /* Border under navigation */
}

.container {
    display: flex;
    justify-content: space-between; /* Spacing between sections */
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-left,
.nav-right {
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-left li,
.nav-right li {
    padding-inline: 20px; /* Adjust spacing between nav items */
    font-size: 15px;
    list-style-type: none;
    display: inline;
}

.nav-left a,
.nav-right a {
    text-decoration: none;
    color: inherit;
    padding: 60px; /* Add padding around links */
}

.nav-left a:hover,
.nav-right a:hover {
    color: #27b7ff;
}

.logo {
    font-size: 1.5rem;
    font-family:'Segoe UI', 'Verdana', sans-serif; /* Example: changing to Arial */
    color: #633313;
    font-weight:bold;
    text-align: center;
    margin-right: 15px; /* Adjusts space to the right of the logo */
    margin-left: 15px;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

#content {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    margin: 40px auto; /* Adjust margin as needed */
    padding: 20px;
    margin-left: 20px;
}

.text-section {
    flex: 1; /* Take remaining space */
    padding-right: 20px; /* Increase spacing between text and image */
    font-size: 45px; /* Adjusted font size */
    margin-right: -750px; /* Extend margin on the right */
    margin-top: -10px;
    color: #633313;
}

.image-section {
    flex: 2; /* Take remaining space */
    text-align: right;
}

.image-section img {
    width: 47%; /* Cover the entire width of its container */
    height: auto; /* Maintain aspect ratio */
    margin-top: -60px;
    margin-right: 10px;
}

.explore-button-container {
    text-align: left;
    margin-top: 110px; /* Adjust spacing as needed */
}

.explore-button {
    font-style: italic;
    font-size: 1.25rem;
    text-decoration: none;
    color: #633313;
    background-color: #9dd9f8;
    padding: 10px 20px;
    border: 1px solid #633313;
    border-radius: 5px;
}

.explore-button:hover {
    background-color: #7fc0e5;
    color: #ffffff;
}