/* Color Palette
    Light Blue: #9dd9f8
    Brown: #633313
    Peach: #fafaf7
    Dark Peach: #efe7d6
*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --base: #fafaf7;
    --cover: #9dd9f8;
    --var1: #633313;
    --standard: #633313;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--base);
    height: 100%;
    width: 100%;
    font-family: "Nanum Myeongjo", serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit; 
}

#desktop-nav {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #efe7d6; 
    color: #633313; 
    padding: 15px 0px;
    border-bottom: 1px solid #633313; 
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 2600px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'arial'
}

.nav-links li {
    margin: 0 15px; /* Adjusts spacing between nav items */
}

.nav-links a {
    text-decoration: none;
    color: inherit;
    padding: 10px 15px; /* Adds padding around links */
    transition: color 0.3s ease; 
}

.nav-links a:hover {
    color: #adadad; 
}

.logo {
    font-size: 1.5rem;
    font-family: 'Segoe UI', 'Verdana', sans-serif;
    color: #633313;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    margin-left: 10px; /* Ensure margin-left is 0 */
    text-decoration: none;
    flex-shrink: 0; /* Prevents the logo from shrinking */

}

.header-container {
    color:#633313;
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}

.screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 55px; /* Adjusts gap for more space between cards */
    padding: 20px;
    min-height: calc(100vh - 130px); 
    margin-top: 25px; 
    align-items: flex-start; 
    position: relative; 
    margin-bottom: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 365px;
    width: 185px; /* Adjust width for each card */
    padding: 20px;
    gap: 20px;
    background-color: white;
    border: 1px var(--standard) solid;
    border-radius: 20px;
    align-items: center;
    box-shadow: 10px 10px var(--standard);
    margin-bottom: 10px; /* Adjust margin between cards */
}

.card img {
    width: 100%; /* Ensure the image fills the card */
    height: auto;
    border-radius: 10px;
}

.card h2 {
    color: var(--var1); /* Use variable for consistent color */
    font-size: 22px;
}

.preview_pic {
    width: 175px;
    height: auto;
    border-radius: 10px;
    align-items: center; 
}

.main {
    gap: 12px;
}


.explore-button-container {
    bottom: 20px;
    left: 40px;
}

#content {
    display: flex;
    align-items: flex-start; 
    max-width: 1900px;
    margin: 40px auto;
    padding: 20px;
}

.text-section {
    flex: 1; 
    padding-right: 40px; 
    font-size: 24px; 
    margin-right: 40px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-section {
    flex: 2; 
    text-align: right;
}

.image-section img {
    width: 65%; 
    height: auto; 
    margin-top: -40px;
}

.vertical-border {
    top: calc(100% + 20px); 
    bottom: 0;
    right: 50%; 
    width: 1px;
    background-color: #633313; 
}

/* FOOTER */


footer {
    background-color: #9dd9f8;
    color: #00275b;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #633313;

}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
}

.footer-container p {
    margin: 0;
}


/* Media Queries */

/* Tablets and below */
@media only screen and (max-width: 1024px) {

    .preview_pic {
        width: 105px;
        height: auto;
        border-radius: 10px;
        align-items: center; 
    }

    .screen {
        gap: 40px; /* Adjusts gap for more space between cards */
    }

    .logo {
        font-size: 1.8rem;
        margin: 10px 0; 
        text-align: center;
    }

    .nav-links {
        margin-top: 10px;
        order: 2; 
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .nav-links li {
        margin: 0 5px; 
    }

    .nav-links a {
        padding: 8px 12px; 
    }

    .header-container {
        font-size: 20px;
    }
}

/* Phones */
@media only screen and (max-width: 600px) {
    .card {
        flex: 0 0 calc(50% - 20px);
        height: 330px; 
        width: calc(50% - 20px);
        padding: 20px; 
        box-sizing: border-box; 
    }


    .card h2 {
        font-size: 20px;
    }

    .preview_pic {
        width: 105px;
        height: auto;
        border-radius: 10px;
        align-items: center; 
    }

    .logo {
        font-size: 1.9rem;
        margin: 5px 0; 
        text-align: center;
    }

    .nav-links {
        font-size: 0.75rem;
        text-align: center;
        margin-top: 5px; 
        order: 2; 
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .nav-links li {
        margin: 0 5px; 
    }

    .nav-links a {
        padding: 8px 12px; 
    }

    .container {
        flex-direction: column; 
        align-items: center;
        padding: 0 10px; 
    }

    .header-container {
        font-size: 13px;
        padding: 0 45px;
        margin-bottom: -15px;
        margin-top: 30px;

    }
}